/* Classe */

.paragrafo{
background-color: #000;
color: yellow;
padding: 5px;
}
/* ID */
#titulo-com-id{
background-color: green;
color: white;
padding: 10px;
font-size: 40px;

}

/* Regra */
h1{
    border-bottom: 2px solid blue;
}
.class-titulo{
    border-bottom: 3px solid red;
}
#id-titulo {
    border-bottom: 3px solid black;
}